body {
    background-color: #1c1c1c;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

html {
    overflow: hidden;
}

.background {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.card-container {
    position: absolute;
    height: 70%;
    width: 100%;
    top: 10%;
    touch-action: manipulation; /* this line allows touch events to be recognized */
  }
  
  .card-container.active .card {
    transform: rotateY(180deg);
  }
  
  .card {
    height: 100%;
    width: 95%;
    margin-left: 2.5%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer; /* this line changes the cursor to a pointer when the card is clickable */
  }
  
  .card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    backface-visibility: hidden;
    display: flex;
    background-image: url(imgs/card-front.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .card-back {
    transform: rotateY(180deg);
    background-image: url(imgs/card-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .name {
    text-align: start;
    writing-mode: vertical-rl;
    position: absolute;
    top: 5.8%;
    left: 33%;
    color: rgb(0, 0, 0);
    font-size: 208%;
  }

  .nummer {
    text-align: start;
    writing-mode: vertical-rl;
    position: absolute;
    top: 5.8%;
    left: 28%;
    color: rgb(0, 0, 0);
    font-size: 208%;
  }

  .bottom-bar {
    position: relative;
    padding-top: 16%;
    width: 100%;
    top: 90%;
    background-image: url(imgs/bottom-bar.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }